@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
*{
    padding: 0px;
    box-sizing: border-box;
}
header{
    background-color:violet;
    display: flex;
    justify-content: space-between;
}
.wrapper{
    display: flex;
    flex-direction: column;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border-color: aquamarine;
    height: 250px;
    width: auto;
    padding-top: 10px;
    padding-left: 10px;
}