@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto:ital,wght@1,100&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    transition: all 0.7s ease;
}
/* Google fonts */
.quick{
    font-family: 'Quicksand', sans-serif;
}
.robot{
    font-family: 'Roboto', sans-serif;
}
/* Header */
.header{
    padding: 10%;
    position: relative;
    height: 320px;
    background-image: url(../img/resto.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 150px 20px black;
    margin-bottom: 6px;
}
.welcome{
    padding-bottom:80px ;
}
.header .welcome{
    position: absolute;
    color: white;
    height: 60px;
    bottom: 20px;
}
.header .busqueda{
    position: absolute;
    height: 50px;
    width:80% ;
    bottom:-20px;
    background-color: white;
    box-shadow: 0 10px 10px #a5a5a5;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.busqueda .icono{
    height: 50px;
    width: 50px;
    background-color: antiquewhite;
    text-align: center;
    line-height: 50px;
    border-radius: 5px 0 0 5px;
}
.busqueda input[type="search"]{
    background-color:transparent ;
    height: 50px;
    width: calc(100% - 100px);
    border: none;
    padding-left:15px ;
}
.busqueda input[type="search"]:focus{
    outline: none;
    outline: solid 4px aquamarine;
    border-radius: 5px;
}
.busqueda input[type="submit"]{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    color: gray;
}
.busqueda input[type="submit"]:hover{
    color: black;
    transform: scale(1.2);
}
.busqueda input[type="submit"]:active{  
    background-color: rgb(9, 140, 255);
    transform: scale(1);
    color: rgb(0, 0, 0);
}
/* Selector universal */
nav{
    background-color: yellow;
}
nav ul{
    height: 100px;
    font-size: 10px;
    font-size: 20pt;
    display: flex;
    justify-content: space-between;
    background-color: white;
    gap: 10px;
    overflow-x: scroll;
}
nav ul li{
    flex: 0 0 129px;
    text-align: center;
    list-style: none;
    color:orange;
    
    /* flex-grow:1 ;
    flex-shrink: 1;
    flex-basis: 0px; */
}
/*CONTENEDOR SCROLLBAR*/
::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    border-radius: 5px;
}

/* FONDO BARRA SCROLL*/
::-webkit-scrollbar-track {
    background: #f1f1f1;

}

/* SELECTOR */
::-webkit-scrollbar-thumb {
    background: yellow;
    border-radius: 5px;
}

/* SELECTOR hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(110, 110, 29);
}

/*--------COMPONENTES RESTORANTES-----*/
.ofresto {
    padding: 14px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    margin: auto;
}

.ofresto .lista {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: auto;
}

.lista .resto {
   border-radius: 14px;
    /* overflow: hidden; */
    flex: 1 0 180px;
    width: 50%;
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.312);
}
.resto .imagen {
    height: 100%;
    width: 40%;
}

.resto .descrip {
    height: 100%;
    width: 60%;
    background-color: blanchedalmond;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 14px;
}
.imagen img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 14px 0 0 14px;
}
/* CARDS HOTELES */
.descrip .datos{
    display: flex;
    justify-content: space-between;
}
.val , .rangoprecio{
    color: rgb(170, 200, 124);
}
.datosresto{
    display: flex;
    flex-direction: column;
}
/* colores */
.text2{
    color: gray;
}
/*  */
.rate{
    background-color: rgb(168, 233, 122);
    height: 50px;
    width: 50px;
    border-radius: 15px 0 15px 0px ;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 16pt;
    position: absolute;
    right: -5px;
    top: -5px;
}
.rate__cards{
    top: -5px;
    right: -5px;
}
.rate__resto{
    right: 5%;
    top: 92%;
}

.sm{
    font-size: 14pt !important;
}
.nav_mobile{
    position: fixed;
    background-color: aquamarine;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    color: aqua;
}
.nav_mobile a:active, .nav_mobile a:link, .nav_mobile a:visited{
    text-decoration: none;
    height: 60px;
    line-height: 60px;
    color: gray;
}
.nav_mobile a:hover{
    border-top: solid 2px aquamarine;
    color: black;
    height: 56px;
}
