@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto:ital,wght@1,100&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.quick{
    font-family: 'Quicksand', sans-serif;
}
.robot{
    font-family: 'Roboto', sans-serif;
}