@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
*{
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color:violet;
    display: flex;
    justify-content: space-between;
}
.wrapper{
    display: flex;
    justify-content: center;
}