@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
*{
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color:violet;
    display: flex;
    justify-content: center;
}
footer{
    background-color: rgb(71, 71, 71);
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    bottom: 50px;
}
.wrapper{
    display: flex;
    flex-direction: column;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border-color: aquamarine;
}