@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto:ital,wght@1,100&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    transition: all 0.7s ease;
}
.quick{
    font-family: 'Quicksand', sans-serif;
}
.robot{
    font-family: 'Roboto', sans-serif;
}
.header{
    padding: 10%;
    position: relative;
    height: 350px;
    background-image: url(/img/resto.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 150px 20px black;
    margin-bottom: 40px;
}
.header .welcome{
    position: absolute;
    color: white;
    height: 60px;
    bottom: 20px;
}
.header .busqueda{
    position: absolute;
    height: 50px;
    width:80% ;
    bottom:-20px;
    background-color: white;
    box-shadow: 0 10px 10px #a5a5a5;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.busqueda .icono{
    height: 50px;
    width: 50px;
    background-color: antiquewhite;
    text-align: center;
    line-height: 50px;
    border-radius: 5px 0 0 5px;
}
.busqueda input[type="search"]{
    background-color:transparent ;
    height: 50px;
    width: calc(100% - 100px);
    border: none;
    padding-left:15px ;
}
.busqueda input[type="search"]:focus{
    outline: none;
    outline: solid 4px aquamarine;
    border-radius: 5px;
}
.busqueda input[type="submit"]{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    color: gray;
}
.busqueda input[type="submit"]:hover{
    color: black;
    transform: scale(1.2);
}
.busqueda input[type="submit"]:active{  
    background-color: rgb(9, 140, 255);
    transform: scale(1);
    color: rgb(0, 0, 0);
}
nav{
    background-color: yellow;
}
nav ul{
    height: 100px;
    font-size: 10px;
    font-size: 20pt;
    display: flex;
    justify-content: space-between;
    background-color: wheat;
    gap: 10px;
    overflow-x: scroll;
}
nav ul li{
    flex: 0 0 200px;
    text-align: center;
    list-style: none;
    
    /* flex-grow:1 ;
    flex-shrink: 1;
    flex-basis: 0px; */
}

